*{
    font-family: 'Poppins';
   
    }
    html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    nav{
        background: url(./images/body.png) no-repeat;
        background-repeat: no-repeat;
        min-height: 100px;
        width: 100%;
        background-size: cover;
        
      
        
      }
      
    
      
      #middle{
        height: 200;
        margin-left: auto;
        margin-right: auto;
        background-color: azure;
      }
      #description{
        height:1150px;
        margin-left: auto;
        margin-right: auto;
    
        background-color: white;
    
      }
      
      .art {
        height: 400px;
        background-color: azure;
        
    
      
      }
      .art h1{
        margin-left: 200px;
     
      }
      .art p{
        margin-left: 200px;
      }
        
      .dot1{
        margin-left: 200px;
        margin-top: -200px;
        background-color: #ff9e1f;
        border-radius: 50%;
        width: 17px;
        height: 17px;
      
    
      }
      .dot2{
        margin-left: 250px;
        margin-top: -16px;
        background-color: lightgrey;
        border-radius: 50%;
        width: 17px;
        height: 17px;
      
    
      }
      .dot3{
        margin-left: 300px;
        margin-top: -17px;
        background-color: lightgrey;
        border-radius: 50%;
        width: 17px;
        height: 17px;
      
    
      }
     
     .contact{
       background-color: azure;
       height: 200px;
    
     }
      .frame ul li{
          float: right;
          margin right: 10px auto;
          width: 80px;
          list-style-type: none;
          margin-right: 10x;
        
          
      }
      .text{
         margin-top: 170px;
         width: 600px;
         margin-left: 40px;
         font-size: 25px;
      }
      .text h1{
        margin-left: 50px;
      }
      nav ul{
        float: right;
        margin-right: 15px;
    
    
      }
      nav ul li{
        display: inline-block;
      }
      a{
        color: black;
        margin-right: 60;
        border-radius: 4px;padding: 5px;
        font-size: 20px;
        text-decoration: none;
      }
      h2{
        margin-top: 10px;
      }
      .left{
        display: flex;
        background-color: red;
      }
     .logo{
      margin-top: 15px;
     
     }
     .col{
       color: #ff9e1f;
      
     }
     label.coll{
       margin-top: 50px;
       color: black;
     }
     .btn{
      background-color: #F6B400;
    
      width: 260;
      height: 200;
      border-radius: 1.7em;
      font-size: 30px;
      font font-weight: 100px;
      font-family: 'Poppins', sans-serif;
      color: white;
    
    
     }
     .btn:hover{
       color: wheat;
     }
     .right{
       height: 150;
       width: 150;
       text-align: right;
      margin-right: 250px;
    
     }
     h2{
      margin-left: 50px;
     }
     p{
       margin-left: 50px;
     }
     .btn{
       margin-left: 50px;
       background-color: #ff9e1f;
       margin-bottom: 40px;
     }
     .box1{
       height: 330px;
       width: 250px;
       border: 1px solid black;
       margin-left: 40px;
       text-align: center;
       display: inline-block;
       border-radius: 20px;
      text-align: center;
      
      
       
     }
     .box2{
        height: 380px;
        width: 250px;
        border: 1px solid black;
        margin-left: 20px;
        text-align: center;
        display: inline-block;
        border-radius: 20px;
        
      }
     .box3{
      height: 330px;
      width: 250px;
      border: 1px solid black;
      margin-left: 20px;
      text-align: center;
      display: inline-block;
      border-radius: 20px;
     
    }
    
    
    .decker{
      color:#ff9e1f;
      font-size: 50px;
      margin-left: 15px;
    }
    h3{
      font-size: 50px;
      margin-left: 50px;
      
    
    }
    .image6{
      margin-right: 350px;
      text-align: right;
      
      
    }
    .mobile{
      background-color: #ff9e1f;
      height: 400px;
      
    }
    
    .mobile1{
      margin-left: 500px;
      margin-top: 300px;
      margin-top: -100px;
    }
    .mobile2{
      margin-right: 10px;
      margin-left: 800px;
      margin-top: -300px;
      
    }
    .logo2{
      padding: 50px;
    }
    .line{
      color: #ff9e1f;
      
    }
    /*MENU*/
.mymenu{
    padding: auto;
    grid-template-columns: repeat(auto-fit, minmax);
    grid-gap: 20px 30px;
  
  }
  .title{
    text-align: center;
  }
  .menuitems{
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    margin: 0 25px;
    grid-template-rows: auto 1fr;
    width: 28%;
    height: 500px;
    border-left: 1px solid #000; 
    text-align: center;
    bottom: -20px; 
  }
  .menuitems2{
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    grid-template-rows: auto 1fr;
    width: 28%;
    height: 500px;
    display: inline-block;
    margin-left: 400px;
    text-align: center;
    display: inline-block;
    bottom: 500px; 
    
  }
  .menuitems3{
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    margin: 10 50px;
    grid-template-rows: auto 1fr;
    width: 28%;
    height: 500px;
    border-left: 1px solid #000;
   
    margin-left: 800px;
    text-align: center;
    display: inline-block;
    bottom: 1090px;
    
    
  }
  .menuitems4{
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    margin: 0 25px;
    grid-template-rows: auto 1fr;
    width: 28%;
    height: 500px;
    border-left: 1px solid #000;
    display: inline-block;
    text-align: center;
    bottom: 1120px; 
    
    
  }
  .menuitems5{
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    margin: 10 50px;
    grid-template-rows: auto 1fr;
    width: 28%;
    height: 500px;
    border-left: 1px solid #000;
    display: inline-block;
    margin-left: 400px;
    text-align: center;
    display: inline-block;
    bottom: 1130px; 
  }
  .menuitems6{
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    margin: 10 50px;
    grid-template-rows: auto 1fr;
    width: 28%;
    height: 500px;
    border-left: 1px solid #000;
    display: inline-block;
    margin-left: 400px;
    text-align: center;
    display: inline-block;
    bottom: 1700px; 
  }
  
  
  .menuitems img{
    width: 100px;
    border-radius: 20px 20px 0 0;
    position: relative;
    text-align: center;
  }
    